apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-conf
  namespace: application-namespace
data:
  default.conf: |
    server {
        listen 8080;
        server_name _;

        location / {
            root /usr/share/nginx/html;
            index index.html;
        }
    }
